[submodule "lib/MQTT"]
	path = lib/MQTT
	url = https://github.com/hirotakaster/MQTT.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/papertrail"]
	path = lib/papertrail
	url = https://github.com/barakwei/ParticlePapertrail.git
