// Copy this file to credentials.h and fill out the appropriate values

// Home Assistan MQTT server & credentials
static byte MQTT_SERVER[] = { 192,168,0,123 };
static const uint16_t MQTT_PORT = 1883;
static const char* MQTT_USERNAME = "your-mqtt-username";
static const char* MQTT_PASSWORD = "your-mqtt-password";

// Set to true to prefix ALL MQTT topics with TEST
static const bool MQTT_TESTING = true;

static const char* MQTT_DEVICE_NAME = "pool_monitor";
static const char* HA_FRIENDLY_NAME = "Pool Monitor";
static const char* MQTT_HA_DISCOVERY_TOPIC = "homeassistant";

// TODO get this from cloud and store in EEPROM
static const char* DEVICE_NAME = "pool_monitor";